<h1>All the Attacks</h1>

<%= link_to "Create New Attack", new_attack_path, class: "center" %>
<div class="attacks-box">
 <ul>
      <% @attacks.each do |attack|  %>
      <li>
        <p id="char-name"><%= attack.attack_name %></p>
        Attack Type:<p><%= attack.attack_type %></p>  
        Attacks Per Second Impact:<p><%= attack.APS_impact %></p>   
        Damage Impact:<p><%= attack.DMG_impact %></p>
        Element:<p><%= attack.element %></p>                         
        <%= link_to "Delete", attack_path(attack.id), method: :delete, class: "btn-primary btn-xs" %>
      </li>
    <% end %>
 </ul>
</div>