<h2><%= current_user.first_name %>'s Profile</h2>

<div class="user-details">
  <ul>
    First Name:<dt><%= @user.first_name %></dt><br>
    Last Name: <dt><%= @user.last_name %></dt><br>
    Email: <dt><%= @user.email %></dt><br>
    <dt><%= link_to "Update Personal Information", edit_user_path(@user.id), class: "btn-primary btn-xs"  %></dt>
  </ul>
</div>




<h2><%= current_user.first_name %>'s Saved Characters:</h2>

<div class="characters-box">
 <ul>
      <% @user.characters.each do |character|  %>
      <li>
        <p class="char-name"><%= character.name %></p>
        <%= image_tag(character.avatar_url) %><br><br>
        Level:<p><%= character.level %></p>
        Class:<p><%= character.fighter_class.name %></p>  
        Skilled in:<p><%= character.fighter_class.skill %></p>        
        Primary Attribute:<p><%= character.primary_attr %></p>
        <%= link_to "Delete", character_path(character.id), method: :delete, class: "btn-primary btn-xs" %>
        <%= link_to "Edit Character", edit_character_path(character.id), class: "btn-primary btn-xs"  %>
      </li>
    <% end %>
 </ul>
</div>